div[data-role="header"]
{
    border-top: 1px solid palegreen !important;
    border-bottom: 5px solid peachpuff !important;
    text-align: center;
    font-weight: bold;
    height: 30px;
    padding-top: 20px;
}

div[data-role="content"]
{
    margin:0;
    padding: 0;
}

div[data-role="content"] div
{
    background: sandybrown;
    color: white;
    height: 150px;
    padding: 15px;
    text-align: center;
    text-shadow:none;
    width:100%;

}